{{!-- views/definitions/index.hbs --}}

<h1 class="mb-4">All Definitions</h1>

<div class="d-flex justify-content-between mb-3">
  <a href="/definitions/add" class="btn btn-green">+ Add New</a>

  <form action="/definitions/search" method="GET" class="d-flex">
    <input 
      type="text"
      name="q"
      placeholder="Search English word..."
      class="form-control me-2"
    />
    <button class="btn btn-grey">Search</button>
  </form>
</div>

{{#each definitions}}
<div class="card mb-3">
  <div class="card-body">

    <h5 class="card-title">{{english}}</h5>

    <p class="card-text">
      <strong>Roman Urdu:</strong> {{romanUrdu}}<br>
      <strong>Urdu Script:</strong> {{urduScript}}<br>

      {{#if example}}
        <em class="text-muted">Example: {{example}}</em><br>
      {{/if}}
    </p>

  {{!-- Ensure edit and delete button can only be seen by admin --}}
  {{#if isAdmin}}
    <a href="/definitions/edit/{{_id}}">Edit</a>
    <a href="/definitions/delete/{{_id}}">Delete</a>
  {{/if}}

  </div>
</div>
{{/each}}

